<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="docs-navbar-header">
  <a md-button class="docs-button" routerLink="home" aria-label="Angular Material">
    <img class="docs-angular-logo"
          src="../../../assets/img/homepage/angular-white-transparent.svg"
          alt="angular">
    <span>Material</span>
  </a>
  <ng-content select=".normal"></ng-content>
  <button md-button>Click me!</button>
</nav>
<nav class="docs-navbar docs-navbar-show-small">
  <!-- <ng-content select="small"></ng-content> -->
</nav>